#page-menu {
	text-align: right;
	margin-bottom: -1em;
}

#page-container {
	Xborder: solid 1px #FF0000;
	background: #CCFFCC;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	border: solid 1px #FFFFFF;
	background: #FFFFFF;
}


#content {
	Xborder: solid 1px #00FF00;
	background: #FFFFFF;
	width: 580px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

#sidebar {
	Xborder: solid 1px #0000FF;
	background: #CCFFCC;
	width: 180px;
	margin-left: 600px;
	padding-left: 10px;
	padding-right: 10px;
}

#sidebar ul {
	Xborder: solid 1px black;
	margin-left: 10px;
	padding-left: 10px;
}

#sidebar li {
	padding-bottom: 10px;
}


#footer {
	background: #CCFFCC;
	padding-top: 20px;
	padding-bottom: 50px;
}

#footer address {
	font-style: normal;
	text-align: center;
}




/*****************/


h1 a.logo {
	text-decoration: none;
	color: #222222;
}

h1 a.logo:hover {
	text-decoration: underline;
	color: #0000FF;
}

table.form {
}

table.form th, table.show th {
	background: #CCFFCC;
	padding: 5px 10px;
	vertical-align: top;
}

.submit {
	width: 10em;
}

.has-error th {
	color: #FF0000;
}

.has-error input, .has-error textarea, .has-error select {
	border: solid 2px #FF0000;
}

.has-error .mceLayout {
	border: solid 2px #FF0000 !important;
}

#message.has-error {
	color: #FF0000;
	border: solid 2px #FF0000;
	background: #FFDDDD;
}

#message.flash, #message.notice {
	color: #333333;
	border: solid 2px #00FF00;
	background: #DDFFDD;
	padding: 10px;
}




/*****************/

.post h2 {
	border: solid #99FF99;
	border-width: 0px 0px 1px 20px;
	padding: 10px 0px 2px 10px;
}

.post h2 a {
	text-decoration: none;
}

.post h2 a:hover {
	text-decoration: underline;
}

.post .info {
	color: #666666;
}

form dd {
	margin-left: 0px;
}

.post {
	margin-top: 20px;
	margin-bottom: 40px;
}


/*****************/

#all-tags span {
	margin-right: 5px;
	color: #666666;
}


